div.orchestrator-action-info {
  margin-right: 5vh;
}

div.action-table {
  margin-left: 5vh;
}

#create-button {
  background-color: green;
  color: white;
  margin: 10vh 1rem 1rem 1rem;
}

h3 {
  text-align: center;
  font-style: oblique;
}

a {
  color: white !important;
}

section {
  background-color: #f5f5f5;
  height: 100%;
}

#edit-button {
  background-color: gold;
  width: 25px;
  height: 50px;
}

mat-icon {
  color: gold;
  transition: background-size 0.3s ease-out, color 0.1s 0.1s, transform 0.3s;
}

#workload-name {
  margin-left: 12vw;
}

button a:hover {
  color: black;
}

.edit-button:hover {
  background-color: #25313d;
}

mat-icon:hover {
  transform: rotate(360deg) scale(1.1);
}

.mat-badge {
  margin-top: 1vw;
}

span#workload-name {
  padding-top: 0.8vw;
}
